* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


/* TopBar  */
.topbar {
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: #3D63EA;
    color: #fff;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobileSection {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    align-items: center;
}

.socialIcons {
    display: flex;
    align-items: center;
}

.icon {
    margin-left: 10px;
    font-size: 20px;
    cursor: pointer;
}

/* Header  */

.active {

    border-bottom: 2px solid #0037ff;
    color: #0037ff !important;
    font-weight: bold !important;
    padding: 10px;
}


.header {
    top: 33px;
    position: fixed;
    z-index: 1000;
    width: 100%;
    background: #FFF !important;
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.20);
}

.custom-nav-link {
    color: rgba(0, 0, 0, 0.85);
    font-weight: bold;
    padding: 10px;
}

.navbar-brand {
    padding: 0px;
}

nav .nav-link {
    color: rgba(0, 0, 0, 0.85);
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    padding-right: 20px !important;
    font-weight: 600;
    line-height: normal;
}

nav .nav-link Link {
    color: rgba(0, 0, 0, 0.85) !important;
}

.donateBtn {
    border-radius: 5px;
    background: #3D63EA;
    width: 90px;
    color: #3D63EA;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    margin-right: 10px;
    margin-bottom: 5px;
    line-height: normal;
    background-color: transparent;
    border: 2px solid #3D63EA;
}

.donateBtn:hover {
    background: #0037ff;
    color: #fff;
}

.volunteerBtn {
    border-radius: 5px;
    background: #FF3E54;
    color: #FF3E54;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 5px;
    width: 100px;
    background-color: transparent;
    border: 2px solid #FF3E54;
}

.volunteerBtn:hover {
    background: #ff001e;
    color: #fff;
}

/* Footer  */
.footerSection {
    background: #F1F6FE;
    color: rgba(0, 0, 0, 0.80);
}

.footerText {
    color: rgba(0, 0, 0, 0.80);
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 200;
    line-height: 130%;
}

.footerIcon {
    border-radius: 50%;
    padding: 10px;
    font-size: 40px;
    margin: 0px 10px;
    background: rgba(255, 255, 255, 0.20);
}

.footerRow {
    padding: 48px 49px;
    margin: 5px;
    background: rgba(255, 255, 255, 0.10);
}

.footerHeading {

    font-feature-settings: 'clig' off, 'liga' off;

    /* Subtitle 1_18 */
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    /* 144.444% */
}

.footerContent {
    margin-bottom: 15px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.footerCopyrights {
    color: #e1e1e1;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300 !important;
    line-height: 130%;
}


/* Contact Us  */

.contactCard {
    border-radius: 10px;
    padding: 10px;
    background: #FFF;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.contactColumn {
    background-color: #3D63EACC;
    color: #fff;
    background-image: url("../assets/contact_background.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}

.contactInformation {
    font-family: 'Poppins';
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 0px;
}

.contactContent {
    color: #C9C9C9;
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.contactText {
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.contactIcon {
    border-radius: 50%;
    padding: 10px;
    font-size: 40px;
    margin: 0px 10px;
    background: rgba(255, 0, 0, 0.8);
}

.contactIcon:hover {
    background: rgba(255, 255, 255, 0.2);
}

.contactFields {
    color: #000;
    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* 166.667% */
}

.contactInput {
    border: none;
    border-bottom: 2px solid #959595;
    border-radius: 0px;
}

.contactButton {
    border-radius: 5px;
    background: #FF3E54;
    width: 200px;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.12);
    padding: 10px 38px;
}

/* Hero Section */

.Hero {
    background-image: url("../assets/heroBackground.png");
    background-repeat: no-repeat;
    background-size: auto;
}

.heroHeading {
    color: #0E1F51;
    font-family: 'Raleway';
    font-size: 43px;
    font-style: normal;
    font-weight: bolder;
    line-height: 58px;
}

.heroCRM {
    color: #FF3E54;
    font-family: 'Raleway';
    font-size: 43px;
    font-style: normal;
    font-weight: 700;
    line-height: 58px;
}

.heroSubHeading {
    color: #41424C;
    font-family: 'Raleway';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 2.4px;
}

.heroBtn {
    border-radius: 5px;
    background: #3D63EA;
}

.heroImageBackground {
    background-image: url("../assets/heroImageBackground.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}