.volunteerBtn {
  border-radius: 100px;
  background: #ff3e54;
  color: #ff3e54;
  padding: 12px 23px;
  font-family: "Eudoxus Sans", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 5px;
  background-color: transparent;
  border: 2px solid #ff3e54;
}

.volunteerBtn:hover {
  background: #ff001e;
  color: #fff;
}

.donateBtn {
  border-radius: 100px;
  background-color: #3d63ea;
  color: #fff;
  padding: 12px 25px;
  font-family: "Eudoxus Sans", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  margin-right: 10px;
  margin-bottom: 5px;
  line-height: normal;
  border: 2px solid #3d63ea;
}

.donateBtn:hover {
  background-color: transparent;
  color: #3d63ea;
  border: 2px solid #3d63ea;

}

.nav-link {
  color: #000; /* default color */
  transition: color 0.3s ease; /* smooth transition effect */
}

.nav-link:hover {
  color: #007bff; /* primary color on hover */
}
.key-features:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.navBar-CRM {
  position: sticky;
  top: 0;
  background-color: rgb(255, 255, 255, 0.85);
  background-color: rgba(255, 255, 255, 0.82);
  backdrop-filter: blur(6px);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  z-index: 999;
}

.register-image{
  position: sticky;
  top: 25%;
}
.headers {
  position: relative;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.85);
}

.headers::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px; 
  width: 0;
  height: 2px; 
  background-color: #0080FF;
  transition: width 0.10s ;
  margin: 0 6px;
}

.headers:hover::after {
  width: 78%;
    margin: 0 6px;
    background-color: #0080FF;
}
.headers:hover {
  color:#0080FF; 
}

.headers.active::after {
  width: 78%;
  margin-bottom: 10px;
   
}
